*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    text-align: center;
     padding-top: 70px;
}
.container{ 
    background-color: crimson;
    border-radius: 10px;
    width: 500px;
    height: 350px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.serch-bar{
    display: flex;
    gap: 10px;
}
.inp{
     padding: 5px;
}
.btn{
     padding: 5px 8px;
     border-radius: 3px;
     border: none;
}
#box{
    width: 300px;
    height: 200px;
    border-radius: 10px;
     align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
}
.box-1{
      width: 280px;
      padding: 10px;
      border-radius: 10px;
      background-color: black;
      color: white;
}
#box::-webkit-scrollbar{
     display: none;
}